<!DOCTYPE html>
<HTML>
  <HEAD>
    {% include 'mod-header.html' %}
    <TITLE>Kissu Feedback & Forms - Create Form</TITLE>
    <SCRIPT>
      function init(){
        // use FormLibrary API to gen
        FormLibrary.attatchCreators()
      }
    </SCRIPT>
  </HEAD>
  <BODY onload="init()">
    <H1>Create</H1>
    <A href="/mod">Home</A>
    <P>Page allows for admins to create forms without any knowledge of coding. Fill out the fields and the server will return errors if you made a mistake.<br/>
      Some quirks with the software: new groups will always be bellow the responses. This can be a limitation for some organizational mindsets that creators may have.<br/>
      <STRONG>The application forces a system of organization where everything is stored into groups. The intermingling of parent groups with child groups is limited.
        Responses will always be above subgroups!<BR/></STRONG></P>
    <FORM id="creator-form" onsubmit="return false">
      <DIV data-depth="0" id="head-group" class="form-group feedback-group">
          <P>Required Fields:</P>
          <LABEL>Form Title : <INPUT type="text" name="form-name" id="head-name"/> </LABEL> <BR/>
          <LABEL>Form ID : <INPUT type="text" name="id" id="head-id"/> </LABEL><BR/>
          <LABEL>Form Descriptor : <BR/><TEXTAREA name="description" id="head-description"></TEXTAREA> </LABEL><BR/>
          <LABEL>Allow Anonymous Submissions :<INPUT type="checkbox" name="anon-option" id="head-anon"/></LABEL><BR/>
          <BUTTON data-link-id="head" id="sub-create">Create Field</BUTTON>
      </DIV>
      <!-- <DIV id="addable-container" class="field-container">
        <P>subgroup1 </P>
        <BUTTON id="subgroup1-respondable-create">Create New Respondable Below Last Respondable</BUTTON><BR/>
        <BUTTON id="subgroup1-group-create">Create New Group Below Last Respondable</BUTTON><BR/>
      </DIV> -->
      <BR/>
      <INPUT id="form-submit-button" type="submit"/>
      <div id="response-container"></div>
    </FORM>
    <HR/>
    {% include 'mod-footer.html' %}
  </BODY>
</HTML>
