<!DOCTYPE html>
<HTML>
  <HEAD>
    {% include 'user-views/user-header.twig' %}
    <TITLE>Kissu Feedback & Forms - Home</TITLE>
  </HEAD>
  <BODY>
    <P>Please access forms directly through their URL</P>
    <HR/>
    {% include 'user-views/user-footer.twig' %}
  </BODY>
</HTML>
