body {
    background-color: #1e1e1e;
    color: #c4c4c4;
}
h1 {
    color: #ffebea;
    background: #558d9b;
    text-align: center;
}
h2 {
    margin: 7px 3px;
}
p {
    margin: 5px 0px;
}
a {
    color: #a4f3f7;
}
textarea {
    width: 235px;
    height: 60px;
}
.readonly-input {
    cursor: default;
}
.respondable-group {
    border: 1px solid #3e3e3e;
    padding: 4px 5px;
    margin: 6px 0;
}

.form-group {
    border: 1px solid;
    padding: 5px 7px;
    margin: 16px 0;
}

.selectiongroup > label {
    margin-right: 12px;
}
