Feedback & Forms V{{ version }} - Product of Kissu.moe under MPL2.0<br/>
Viewing the moderator interfaces<br/>
Run it yourself from <a href="https://github.com/ECHibiki/Kissu-Feedback-and-Forms">the source code</a>
