<!DOCTYPE html>
<HTML>
  <HEAD>
    {% include 'mod-views/mod-header.twig' %}
    <TITLE>Kissu Feedback & Forms - Home</TITLE>
  </HEAD>
  <BODY>
    <A href="/mod/create">Create a form</A><BR/>
    <A href="/mod/view">View all forms</A><BR/>
    Working on: CSS
    <HR/>
    {% include 'mod-views/mod-footer.twig' %}
  </BODY>
</HTML>
