<!DOCTYPE html>
<HTML>
  <HEAD>
    {% include 'mod-header.twig' %}
    <TITLE>Kissu Feedback & Forms - Home</TITLE>
  </HEAD>
  <BODY>
    <A href="/create">Create a form</A>
    <A href="/view">View all forms (Under Development))</A>
    <HR/>
    {% include 'mod-footer.twig' %}
  </BODY>
</HTML>
