<!DOCTYPE html>
<HTML>
  <HEAD>
    {% include 'mod-header.html' %}
    <TITLE>Kissu Feedback & Forms - Edit Form {{ form.FormName }}</TITLE>
    <SCRIPT>
      function init(){
        FormLibrary.attatchCreators({{ "{ form_number : "|add:id|add:"}"}} );
        FormLibrary.rebuildFromRaw(`{{ form_str }}` , document.getElementById("sub-create") );
        FormLibrary.setFieldsAsDisabled(false);
        document.getElementById("head-name").setAttribute("disabled", "true");
      }
    </SCRIPT>
  </HEAD>
  <BODY onload="init()">
    <H1>Edit</H1>
    <A href="/mod">Home</A><BR/>
    <A href="/mod/view/">Back to Forms</A>
    <P>You are currently editing: Form <STRONG>{{form.FormName}}</STRONG><BR/>
    <STRONG>While the form is rebuilding the fields will not be interactable.</STRONG>
    </P>
    <FORM id="creator-form" onsubmit="return false">
      <DIV data-depth="0" id="head-group" class="form-group feedback-group">
          <P>Required Fields:</P>
          <LABEL>Form Title : <INPUT disabled="true" type="text" name="form-name" id="head-name" value="{{form.FormName}}"/> </LABEL> <br/>
          <LABEL>Form ID : <INPUT type="text" name="id" id="head-id"  value="{{form.ID}}"/> </LABEL><br/>
          <LABEL>Form Descriptor : <br/> <TEXTAREA name="description" id="head-description"/>{{form.Description}}</TEXTAREA> </LABEL><br/>
          <LABEL>Allow Anonymous Submissions : <INPUT type="checkbox" name="anon-option" id="head-anon" checked="{{form.AnonOption}}"/></LABEL><br/>
          <BUTTON disabled="true" data-link-id="head" id="sub-create">Create Field</BUTTON>
      </DIV>
      <br/>
      <INPUT disabled="true" id="form-edit-button" type="submit" value="Edit Form"/>
      <div id="response-container"></div>
    </FORM>
    <HR/>
    {% include 'mod-footer.html' %}
  </BODY>
</HTML>
