<!DOCTYPE html>
<HTML>
  <HEAD>
    {% include 'mod-header.twig' %}
    <TITLE>Kissu Feedback & Forms - Login</TITLE>
  </HEAD>
  <BODY>
    <FORM action="/" method="POST">
      <LABEL>Password</LABEL><br/>
      <INPUT type="password" name="password" />
      <INPUT type="submit"/>
    </FORM>
    <HR/>
    {% include 'mod-footer.twig' %}
  </BODY>
</HTML>
