<!DOCTYPE html>
<HTML>
  <HEAD>
    {% include 'user-views/user-header.twig' %}
    <TITLE>Kissu Feedback & Forms - {{ form.ID }}</TITLE>
  </HEAD>
  <BODY>
    <H1>{{ form.FormName }}</H1>
    <P>{{ form.Description }}</P>
    <FORM action="" method="POST" onsubmit="return FormLibrary.submitUserPost(this)">
        {% if form.AnonOption %}
          <LABEL>Submit anonymously: <INPUT type="checkbox" name="anon-option" /></LABEL>
        {% endif %}
        {% for field in form.FormFields %}
          {% include 'user-views/user-form-group.twig' with {'field':field} %}
        {% endfor %}
        <INPUT type="submit" value="Submit Response!"/>
        <div id="response-container"></div>
    </FORM>
    <HR/>
    {% include 'user-views/user-footer.twig' %}
  </BODY>
</HTML>
